<div id="mygeneinfo_wrapper" class="addnode_wrapper">
		<label class="label label-default">Enter a Gene Symbol/Name</label>
  		<div id="mygene_addnode">
  			<input id="gene_query" style="width:250px" class="mygene_query_target">
			<span title="Switch To Clinical Features Symbols" class="showCf"><i class="glyphicon glyphicon-refresh"></i></span>
  		</div>
	</div>
	<div id="mygenecf_wrapper" class="addnode_wrapper">
		<label class="label label-default">Click on the textbox and choose a clinical feature</label>
  		<div id="mygene_addnode_cf">
  			<input id="cf_query" style="width:250px" class="cf_query_target">
			<span title="Switch To Gene Symbols" class="hideCf"><i class="glyphicon glyphicon-refresh"></i></span> 
  		</div>
	</div>
