<span class="switch-wrapper"><input type="checkbox" title="Switch To Choosing Clinical Features" id="toggleCf" checked></span>
<div id="mygeneinfo_wrapper">
  		<div id="mygene_addnode">
  			<strong>Add Genes</strong>
  			<input id="gene_query" class="mygene_query_target query_target">
  		</div>
</div>
<div id="mygenecf_wrapper">
 	<div id="mygene_addnode_cf">
		<strong>Add Clinical Features</strong>
  		<input id="cf_query" class="cf_query_target query_target">
  	</div>
</div>
<div class="btn-group">
	<button class="btn btn-primary open-pathway-search">Pathway Search</button>
	<button class="btn btn-primary open-feature-builder">Build Feature</button>
</div>
	
