<div class="jsonview_data" id="jsonview_data<%= id %>">
				<div id="summary_header">
					<button type="button" class="close close-json-view">&times;</button>
					<h2><%= name %></h2>
					<h4 class="full_name"><%= summary.name %></h4>
				</div>
				<div id="summary_content">
				<%= summary.summaryText %>
				<% if(summary.goTerms.MF) { %>
			<h4>Molecular Functions</h4>
			<p>
<ul>
				<% for(var mfunction in summary.goTerms.MF) {%>
					<% if(summary.goTerms.MF[mfunction].term)
					{
						print ("<li><a target='_blank' href='http://amigo.geneontology.org/cgi-bin/amigo/term_details?term="+summary.goTerms.MF[mfunction].id+"'>"+summary.goTerms.MF[mfunction].term+"</a></li>");
					}
					else if(mfunction == "term")
					{
						print ("<li><a target='_blank' href='http://amigo.geneontology.org/cgi-bin/amigo/term_details?term="+summary.goTerms.MF.id+"'>"+summary.goTerms.MF.term+"</a></li>");
					} 
					 %>
				<% }%>
</ul>
			</p>
		<% } %>
		<% if(summary.goTerms.CC) { %>
			<h4>Cellular Component</h4>
			<p>
<ul>
				<% for(var component in summary.goTerms.CC) {%>
					<% if(summary.goTerms.CC[component].term)
					{
						print ("<li><a target='_blank' href='http://amigo.geneontology.org/cgi-bin/amigo/term_details?term="+summary.goTerms.CC[component].id+"'>"+summary.goTerms.CC[component].term+"</a></li>");
					}
					else if(component == "term")
					{
						print ("<li><a target='_blank' href='http://amigo.geneontology.org/cgi-bin/amigo/term_details?term="+summary.goTerms.CC.id+"'>"+summary.goTerms.CC.term+"</a></li>");
					} 
					 %>
				<% }%>
</ul>
			</p>
		<% } %>
			<% if(summary.goTerms.BP) { %>
				<h4>Biological Process</h4>
				<p>
					<ul>
					<% for(var process in summary.goTerms.BP) {%>
						<% if(summary.goTerms.BP[process].term)
						{
							print ("<li><a target='_blank' href='http://amigo.geneontology.org/cgi-bin/amigo/term_details?term="+summary.goTerms.BP[process].id+"'>"+summary.goTerms.BP[process].term+"</a></li>");
						}
						else if(process == "term")
						{
							print ("<li><a target='_blank' href='http://amigo.geneontology.org/cgi-bin/amigo/term_details?term="+summary.goTerms.BP.id+"'>"+summary.goTerms.BP.term+"</a></li>");
						} 
						 %>
					<% }%>
					</ul>
				</p>
			<% } %>
			<% if(summary.generif) { %>
			<h4>Gene Rifs</h4>
			<ul>
				<% for(var generif in summary.generif) {%>
					<li>
						<% if(summary.generif[generif].text)
						{
							print ('<a target="blank" href="http://www.ncbi.nlm.nih.gov/pubmed/'+summary.generif[generif].pubmed+'">'+summary.generif[generif].text+'</a>');
						}
						else if(generif == "text")
						{
							print ('<a target="blank" href="http://www.ncbi.nlm.nih.gov/pubmed/'+summary.generif.pubmed+'">'+summary.generif.text+'</a>');
						} 
						 %>
					</li>
				<% } %>
			</ul>
		<% } %>
</div>
			</div>
