<a target="_blank" href="/cure/profile?playerid=<%= collaborator.id %>" class="collaborator-icon"><i class="glyphicon glyphicon-user"></i></a>
<div class="chartRegion" id="chartRegion<%= options.cid %>"></div>
		<% if(name == Cure.negNodeName)
		{
			print ('<span class="name attrvalue" style="background:red;">'+name.toUpperCase()+'</span>');
		}
		else if(name == Cure.posNodeName)
		{
			print ('<span class="name attrvalue" style="background:blue;">'+name.toUpperCase()+'</span>');
		} 
      	%>	
    <input type="text" class="edit d3edit" value="<%= name %>">
    <button class="btn btn-small btn-link addchildren" type="button">
      <i class="glyphicon glyphicon-plus-sign"></i>
		<span style="float: none;">Add</span>
    </button>
	<div class="addgeneinfo addnode_wrapper" id="addgeneinfo<%= options.cid %>"></div>
