<% if(noveltyDiff<0 || pct_correctDiff>0 || sizeDiff>0){ %>
	<table>
	<tr class="scorefactor-row novelty-row">
		<td>
		Novelty
		</td>
	<td>
		 <% if(noveltyDiff>0){
						print("<label class='label label-primary'><i class='glyphicon glyphicon-plus'></i> "+Math.round(Math.abs(noveltyDiff)*100)/100+"</label>");
					} else if(noveltyDiff<0){
						print("<label class='label label-danger'><i class='glyphicon glyphicon-minus'></i> "+Math.round(Math.abs(noveltyDiff)*100)/100+"</label>");
					} else {
						print("<label class='label label-default'>No Change</label>");
					}%>
		</td>
		
		
		</tr>
		<tr class="scorefactor-row accuracy-row">
		<td>
		Accuracy
		</td>
	<td>
		 <% if(pct_correctDiff>0){
						print("<label class='label label-primary'><i class='glyphicon glyphicon-plus'></i> "+Math.round(Math.abs(pct_correctDiff)*100)/100+"</label>");
					} else if(pct_correctDiff<0){
						print("<label class='label label-danger'><i class='glyphicon glyphicon-minus'></i> "+Math.round(Math.abs(pct_correctDiff)*100)/100+"</label>");
					} else {
						print("<label class='label label-default'>No Change</label>");
					}%>
		</td>
	
	
		</tr>
		<tr class='scorefactor-row size-row'>
		<td>
		Size
		</td>
	<td>
		 <% if(sizeDiff>0){
						print("<label class='label label-primary'><i class='glyphicon glyphicon-plus'></i> "+Math.abs(sizeDiff)+"</label>");
					} else if(sizeDiff<0){
						print("<label class='label label-danger'><i class='glyphicon glyphicon-minus'></i> "+Math.abs(sizeDiff)+"</label>");
					} else {
						print("<label class='label label-default'>No Change</label>");
					}%>
		</td>
		
		</tr>
	</table>
<% } else { %>
<p style="font-size: 14px;font-weight:300;">You can see score changes here.</p>
<% } %>