<a target="_blank" href="/cure/profile?playerid=<%= collaborator.id %>" class="collaborator-icon"><i class="glyphicon glyphicon-user"></i></a>
<div class="chartRegion" id="chartRegion<%= options.cid %>"></div>
<div class="distributionChartRegion" id="distributionChartRegion<%= options.cid %>"></div>
   <span class="name attrvalue">
      <%= name %>
    </span>
    <button class="btn delete" href="#">
      <i class=" glyphicon glyphicon-remove"></i>
    </button>
    <% if(options.unique_id.indexOf("custom_tree_")==-1 &&options.unique_id.indexOf("custom_classifier_")==-1){ %>
    	<button class="btn btn-primary showDistribution">Class Distribution</button>
    <% } %>