<button class="zoomin"><i class="glyphicon glyphicon-zoom-in"></i></button>
				<button class="zoomout"><i class="glyphicon glyphicon-zoom-out"></i></button>
				<div class="checkbox">
        			<label>
          				<input id="toggle-fittoscreen" type="checkbox" value="true" <% if(fitToScreen){ print("checked");} %>> Fit To Screen
        			</label>
      			</div>
      			<p class="renderPink">
      			<% if(Cure.PlayerNodeCollection.length>0){
      				if(badge_desc==null){
      					print("<b>Build decision tree that predicts 10 year survival</b>");	
      				} else {
      					print("<b>"+badge_desc+"</b>");
      				}
      			} else {
      				print("");
      			}
      			 %>
      			</p>