/* Max Nanis <nanis@scripps.edu> */

@font-face {
	font-family: League-Gothic;
	src: url("League-Gothic.otf") format("opentype");
}

* {
}

body {
}

body div.navbar-inner {
  background-color: #F69;
  background-image: none;
  box-shadow: none;
}

body div.navbar-inner div.container a.brand {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 28px;
  padding: 6px;
  margin: 0px;
  text-shadow: 0px 0px 4px rgba(61, 174, 204, .6);
}

body div.container div.hero-unit {
  background-color: white;
}

body div.container div#login {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  padding: 12px;
  text-align: center;
}

body div.container div#login div#olduser strong {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 32px;
  color: #3DAECC;
  letter-spacing: 2px;
}

body div.container div#login div#olduser form {
  padding: 8px;
  margin: 20px 0px 0px 0px;
  background-color: #3DAECC;
  background-color: rgba(61, 174, 204, .6);
}
