<div id="mygeneinfo_wrapper" class="addnode_wrapper">
		<label class="label label-default">Enter a Gene Symbol/Name</label>
  		<div id="mygene_addnode">
  			<span title="Switch To Schoosing Clinical Features" class="showCf"><img src="./img/doctor.png"></span>
  			<input id="gene_query" style="width:250px" class="mygene_query_target">
  		</div>
	</div>
	<div id="mygenecf_wrapper" class="addnode_wrapper">
		<label class="label label-default">Click on the textbox and choose a clinical feature</label>
  		<div id="mygene_addnode_cf">
  		    <span title="Switch To Choosing Genes" class="hideCf"><img src="./img/dna.png"></span>
  			<input id="cf_query" style="width:250px" class="cf_query_target">
  		</div>
	</div>
