<tr>
	<td class="current_tree"><span class='keyValue'>Rank: <%= rank %></span></td>
	<td class="current_tree"><span class='keyValue'>Score: <%= Cure.Score.get('score') %></span></td>
	<td class="current_tree"><span class='keyValue'>Size: <%= Cure.Score.get('size') %></span></td>
	<td class="current_tree"><span class='keyValue'>Accuracy: <% print(Math.round(Cure.Score.get('pct_correct')*100)/100) %></span></td>
	<td class="current_tree"><span class='keyValue'>Novelty: <% print(Math.round(Cure.Score.get('novelty')*100)/100) %></span></td>
</tr>