<div class="jsonview_data" id="jsonview_data<%= id %>">
				<div id="summary_header">
					<button type="button" class="close">&times;</button>
					<h2><%= name %></h2>
				</div>
				<div id="summary_content">
				<p><% if(Cure.utils.isJSON(summary.summaryText)){
				var json_string = JSON.parse(summary.summaryText);
				for(var temp in json_string){
					print("<h4>"+temp+"</h4>"+"<p>"+json_string[temp]+"</p>");
				}
			  } else {
					print(summary.summaryText);
				}
			%></p>
				</div>
	</div>
