<h2>Tree in Text</h2>
<hr>
<% for(var temp in branches){ %>
<p>Cases with</p>
<ul class="list-unstyled">
<% for(var i = (branches[temp].splitnodes.length-1);i>=0;i--){ %>
<li><% print(branches[temp].splitvalues[i].name +" "+branches[temp].splitnodes[i].node.name ) %></li>
<% } %>
</ul>
<p>have a </p>
<% if(branches[temp].leafnode.name == Cure.posNodeName){ %>
<font color="blue">
higher rate of survival over a span of ten years.
</font> 
<% } else if(branches[temp].leafnode.name == Cure.negNodeName) { %>
<font color="red">
lower rate of survival over a span of ten years.
</font>
<% } %> 
About <% print(Cure.binScale(branches[temp].leafnode.options.bin_size)) %>% of cases fall here.
<hr>
<% } %> 