<%	if(json_tree.score != "Score"){ %>
	<% if(Cure.PlayerNodeCollection.tree_id != id){ %>
	<td><span class='keyValue'><%= rank %></span></td>
	<td><span class='keyValue'><%= player_name %></span></td>
	<td><span class='keyValue'><%= json_tree.score %></span></td>
	<td><span class='keyValue'><%= json_tree.size %></span></td>
	<td><span class='keyValue'><% print(Math.round(json_tree.pct_correct*10)/10) %></span></td>
	<td><span class='keyValue'><% print(Math.round(json_tree.novelty*10)/10) %></span></td>
	<td><center><%= comment %></center></td>
	<% } else { %>
	<td class="current_tree"><span class='keyValue'><%= rank %></span></td>
	<td class="current_tree"><span class='keyValue'><%= player_name %></span></td>
	<td class="current_tree"><span class='keyValue'><%= json_tree.score %></span></td>
	<td class="current_tree"><span class='keyValue'><%= json_tree.size %></span></td>
	<td class="current_tree"><span class='keyValue'><% print(Math.round(json_tree.pct_correct*10)/10) %></span></td>
	<td class="current_tree"><span class='keyValue'><% print(Math.round(json_tree.novelty*10)/10) %></span></td>
	<td class="current_tree"><center><%= comment %></center></td>
	<% } %>
<% } else { %>
	<th><span class='keyValue'><i class="glyphicon glyphicon-star"></i></span></th>
	<th><span class='keyValue'><%= player_name %></span></th>
	<th><span class='keyValue'><%= json_tree.score %></span></th>
	<th><span class='keyValue'><%= json_tree.size %></span></th>
	<th><span class='keyValue'><%= json_tree.pct_correct %></span></th>
	<th><span class='keyValue'><%= json_tree.novelty %></span></th>
	<th><center><%= comment %></center></th>
<% } %>
