<div class='panel-heading'>Controls</div>
<div id="score-board-outerWrapper" class="panel-outer-wrapper">
	<h2 class="renderPink">
		Score Board<span><button type="button" class="close"
				data-dismiss="alert" aria-hidden="true">&times;</button></span>
	</h2>
	<hr>
	<div id="scoreboard_wrapper">
		<div id='scoreboard_innerwrapper'></div>
	</div>
</div>
<div id="CollaboratorsRegion"></div>
<div class='panel-body panel-static'>
<div id='displayWrapper'>
	<div id="CommentRegion"></div>
	<div id="ScoreRegion"></div>
	<div id="current-tree-rank"></div>
</div>
	<div id="tree-explanation-outerWrapper" class="panel-outer-wrapper">
		<h2 class="renderPink">Tree in Text</h2>
		<div id="tree-explanation-wrapper"></div>
	</div>
<button id="tree-explanation-button" class="btn btn-sm btn-default showTreeExp"><i class="glyphicon glyphicon-pencil"></i>Show Tree Explanation</button>
<button class="btn btn-sm btn-default"><a target="_blank" href="/cure/profile?playerid=<% print(cure_user_id); %>">My Tree Collection</a></button>
</div>