<div class="well <% if(leafnode.name == Cure.posNodeName){print('posBranchItem');} else {print('negBranchItem');} %>"><p>Cases with
<ul class="list-group branch-nodes-list">
<% for(var i = (splitnodes.length-1);i>=0;i--){ %>
<li class="list-group-item"><% print(splitvalues[i].name +" "+splitnodes[i].node.name ) %></li>
<% } %>
</ul>
<% if(leafnode.name == Cure.posNodeName){ %>
are predicted to survive beyond ten years.
<% } else if(leafnode.name == Cure.negNodeName) { %>
are predicted to have a span less than 10 years.
<% } %>
<span style="color:steelblue;font-weight:bold;font-size:15px;"><% print(Math.round(Cure.binScale(leafnode.options.bin_size)*100)/100) %>%</span> of all cases match these conditions.
Among these cases, this rule is <span style="color:orange;font-weight:bold;font-size:15px;"><% print(Math.round(Cure.accuracyScale(leafnode.options.pct_correct)*100)) %>%</span> accurate.
</p>
<button class="btn btn-primary btn-block highlightBranch">Show in Tree</button>
</div>     