#boards {

}

#boards div.board {
  float: left;
  position: relative;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #8C8C8C;
  background-color: #F7FDFF;
  text-align: center;
  -webkit-box-shadow: 0px 0px 4px 0px #B7BBBD;
          box-shadow: 0px 0px 4px 0px #B7BBBD;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(183, 187, 189, .5);
          box-shadow: 0px 0px 4px 0px rgba(183, 187, 189, .5);
  text-shadow: 0px 0px 2px rbga(255,255,255,.2);
  letter-spacing: 1px;
}

#boards div.board span.symbol {
  position: relative;
}

#boards div.board div.score_slider {
  background-color: #3DAECC;
  background-color: rgba(61,174,204,.6);
  position: absolute;
  bottom: 0px;
  -moz-box-shadow:    inset 0px 0px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,.2);
  box-shadow:         inset 0px 0px 3px rgba(0,0,0,.2);
}

#boards div.board div.score_value {
  position: relative;
  background-color: #D45580;
}

#boards div.board.enabled {

}

#boards div.board.enabled:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 0px #B7BBBD;
          box-shadow: 0px 0px 8px 0px #B7BBBD;
  text-shadow: 0px 0px 3px #3DAECC;
 
}

#boards div.board.disabled {
   -moz-box-shadow:    inset 0px 0px 10px #B7BBBD;
   -webkit-box-shadow: inset 0px 0px 10px #B7BBBD;
   box-shadow:         inset 0px 0px 10px #B7BBBD;
}

#boards div.board.disabled:hover {

}
