html, body{
  margin: 0px;
  padding:0px;
  height:100%;
}

div.container {
  margin-top: 40px;
}

#mygene_wrapper{
	position: absolute;
	z-index: 1;
	width:30%;
	padding:2.5%;
	margin-left: 32.5%;
	margin-top:150px;
	display:none;
}

#mygene_addnode{
	position:relative;
	width:50%;
}

#PlayerTreeRegion svg{
  position: absolute;
}

#svgwrapper{
  height:100%;
}

.d3edit
{
  display:inline;
  position:absolute;
}

input.edit{
  display:none;
  padding:0px;
  font-size:13px;
  width:100%;
  text-align:center;
}

.editing .attrvalue {
  display: none; /* Hides label text when .editing*/
}

.editing input.edit {
  display:block;
  width:100%;  
}

.node {
  z-index:3;
  position: absolute;
}

.node .btn{
	margin:0px;
	margin-left:5px; 
	float:left;
}

.split_node{
	border: 2px solid steelblue;
	background: #ececec;
	color:#000;
	padding:2px;
	text-align:center;
	font-weight:bold;
	border-radius:2px;
	font-size:14px;
}

.split_value{
	border: 0px;
	background: none;
	color:red;
	padding:0px;
	padding-top: 7px;
	text-align:center;
	font-weight:bold;
	border-radius:2px;
	font-size:22px;
}

.leaf_node{
	border: 0px;
	background: #ffbb78 ;
	color:#000;
	padding:2px;
	text-align:center;
	font-weight:bold;
	border-radius:2px;
	font-size:16px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.btn{
  margin:0px 2px;
  padding:0px;
}
.name
{
  display:block;
  text-align:center;
  float:left;
}

.split_node .name{
	  cursor:pointer;
}

.split_node .name:hover{
	  color: #333;
}

.showjson
{
  float:none;
}

#json_structure .jsonview_data
{
z-index: 4;
position: fixed;
margin-top: 40px;
top: 0px;
width: 50%;
padding: 21px;
background: #FFF;
display: none;
height: 450px;
border: 1px solid lightblue;
border-radius: 10px;
box-shadow: 0px 0px 10px 0px lightblue;
}

#json_structure .jsonview_data .full_name{
	text-transform: capitalize;
}
.editnode
{
  background:#dff0d8;	
}

#json_structure .attrvalue
{
  width:164px;
  margin-bottom:12px;
}

#json_structure .edit
{
  text-align: left;
}

.highlight
{
  box-shadow: 0px 0px 10px 2px red;
}

#score{
	margin-top: 22px;
margin-left: 5px;
}

.addgeneinfo{
	position: relative;
margin: 1px;
margin-top: 27px;
}

#ScoreSVG{
	border:2px solid steelblue;
}

#summary_header{
	position:fixed;
	width:50%;
	padding-left:10px;
}

#summary_content{
	margin-top:100px;
	height:350px;
	overflow: auto;
}

#summary_content .label{
	cursor:default;
}

#SpeechBubble{
	position: fixed;
	z-index:4;
	background: #FFF;
	top:0px;
	left:0px;
	display: none;	
	border: 1px solid steelblue;
	box-shadow: 0px 0px 10px 0px #333;
	border-radius:10px;
	width: auto;
	font-size:12px;
	margin-left:5px;
	text-align:center;
}

.speechWrapper{	
	overflow: auto;
	height:90%;
	width:95%;
	margin-top:10px;
}


#SpeechBubble .summary_header{
position: fixed;
padding: 2px;
padding-left:10px;
background: #FFF;
width: auto;
z-index: 1;
text-align:left;
}

#SpeechBubble .summary_content{
	padding: 3%;
	position:relative;
	width:90%;
	overflow:none;
	height: auto;
	margin-top:70px;
	text-align:left;
}

#SpeechBubble .close{
	font-size:20px;
}